body {
  align-items: center;
  max-height: 100%;
  max-width: 1000px;
  border-left: lightgray solid 5px;
  font-family: sans-serif;
}

footer,
header,
main {
  padding: 1rem 2rem;
}

h1 {
  text-align: center;
  color: tomato;
}
h2 {
  text-align: center;
  color: purple;
}

h3.article-title {
  font-size: x-large;
}
article {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: lightgray solid 1px;
}

img {
  width: 100%;
}

a.continu-blog {
  display: flex;
  justify-content: flex-end;
  text-decoration: solid;
  color: tomato;
  font-weight: 900;
}
a:-webkit-any-link {
  text-decoration: none;
}
ul.top-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  background-color: lightgray;
  border: darkgray solid 0.5px;
}
.nav-title {
  color: white;
  padding: 10px;
  margin: 10px;
}
footer {
  background-color: tomato;
}
.footer-nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
#address {
  display: inline-block;
}
#copywrite {
  color: lightgray;
  width: 100%;
}

p.blog-summary::first-letter {
  font-size: 5rem;
  font-weight: bold;
  color: lightgray;
}
